.main-div{

  color: #718096; 
  padding: 1.25rem; 
  font-size: 0.75rem; 
  border-right-width: 1px; 
  border-right-color: #1a202c; 
  overflow-y: scroll; 
  scrollbar-width: none; 
  height: 100vh; 
  max-width: 12rem; 
  display: none; 
  flex-wrap: nowrap; 
  justify-content: flex-start; 
  align-items: stretch; 
  padding-bottom: 9rem;
  
}